$color-principal: black;
$color-secundario:chartreuse;
$medida-principal:300px;

/*inicio estilo texto about*/
.text-about{
  font-family: 'roboto';
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin:0 200px 0px 300px;
  padding: $medida-principal - 250px;
  
}

.videoabout video{
  width: $medida-principal + 1100px;
  height: auto;
}
/*fin estilo texto about*/