$color-principal: black;
$color-secundario:chartreuse;
$medida-principal:300px;

/*incio estilo footer*/
#copyrights{
    margin-bottom:0;
    margin-left: 0;
    position: relative;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: black;
}

/*fin estilos footer*/