$boton-1: (
  color-boton-1: black,
);

$boton-hover:(
  color-boton-hover: greenyellow,
);




/*inicio estilos boton instagram*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
  font-size:50px;
  text-decoration: none;
}
.my-float{
	margin-top:16px;
}
.fa-instagram{
  color: map-get($map: $boton-1, $key: color-boton-1);
}
.fa-instagram:hover{
  color: map-get($map: $boton-hover, $key: color-boton-hover);
}

/*fin estilos boton instagram*/

/*inicio estilo art haus vvertical*/

.nav-wrapper-about{
  background-color: black;
}
.content-vertical{
  font-family: 'Bebas Neue';
  color: black;
  background-color: transparent;
  font-size: 120px;
  position: fixed;
  float: left;
  transform: rotate(270deg);
  margin-top: 15%;
  margin-left:-5%;
  padding: 20;
  .content-vertical{
  opacity: 0.9;
  text-transform: uppercase;
  }
  
} 

/*fin estilo art haus vertical*/
